.DS_Store

node_modules/
iterm/*

**/fish/fish_history
**/fish/fishd

**/fishd.*

**/configstore/*
**/gtk-2.0/*
**/inkscape/*
**/yarn/*
**/atom.link/.atom
**/atom.link/.gitignore
**/atom.link/.node-gyp/*
**/atom.link/.storage/*
**/atom.link/packages/*
**/atom.link/compile-cache/*
**/atom.link/storage/*
**/atom.link/themes/*
**/atom.link/.apm/
**/atom.link/blob-store/
**/config.link/gatsby
